<div class="news_content">

  <h1>
    Состав клана
  </h1>
  <% if logged_in? %>
    <p>Нажмите на нужный отдел для вывода людей состоящих в нем</p>
    <div>
      <%= form_tag({:controller => "clan_members", :action => "index"}, :method => "get", :id => "get_department") do %>
        <%= hidden_field_tag :department, value: nil %>
      <% end %>
      <p><a href="#" id="all" class="divisions">Весь состав</a>|<a href="#" id='leadership' class="divisions">Руководство</a>|<a href="#" id="council" class="divisions">Совет</a>|<a href="#" id='programmer' class="divisions">Отдел программирования</a>|<a href="#" id="information" class="divisions">Информационный отдел</a>|<a href="#" id="combat" class="divisions">Боевой отдел</a></p>
    </div>
    <% i = 1 %>
    <div class='one_clan_member'>
      <div class='one_clan_member_top' >№</div>
      <div class='one_clan_member_top' >Раса</div>
      <div class='one_clan_member_top' >Ник</div>
      <div class='one_clan_member_top' >Уровень</div>
      <div class='one_clan_member_top' >Должность</div>
      <div class='one_clan_member_top' >Город</div>
      <div class='one_clan_member_top' >Имя</div>
      <% @clan_members.each do |clan_member| %>

          <div class='one_clan_member_content' ><%= i %></div>
          <div class='one_clan_member_content' ><%= clan_member.race %></div>
          <div class='one_clan_member_content' ><%= link_to clan_member.nick_name, clan_member.player_link %></div>
          <div class='one_clan_member_content' ><%= clan_member.player_level %></div>
          <div class='one_clan_member_content' ><%= clan_member.player_post if clan_member.player_post %></div>
          <div class='one_clan_member_content' ><%= clan_member.city if clan_member.city %></div>
          <div class='one_clan_member_content' ><%= clan_member.name if clan_member.name %></div>

        <% i += 1 %>
      <% end %>
    </div>
    <% if current_user.admin? || current_user.superadmin? %>
      <div class="submit_button">
        <button><%= link_to "Добавить игрока", new_clan_member_path %></button>
        <button><%= link_to "Изменить состав", admining_members_path %></button>
      </div>
    <% end %>
  <% else %>
    <p>Что бы увидеть состав, вам необходимо зайти либо зарегистрироваться!</p>
  <% end %>
  <div class='separator'></div>

</div>


<script>
  $(".divisions").click(function(e){
    e.preventDefault();
    division = $(this).attr('id')
    switch(division) {
      case 'all':
        $('#department').val('all');
        $("#get_department").submit();
        break
      case 'leadership':
        $('#department').val('leadership')
        $("#get_department").submit();
        break
      case "council":
        $('#department').val('council')
        $("#get_department").submit();
        break
      case "programmer":
        $('#department').val('programmer')
        $("#get_department").submit();
        break
      case "information":
        $('#department').val('information')
        $("#get_department").submit();
        break
      case "combat":
        $('#department').val('combat')
        $("#get_department").submit();
        break
    }
  })
</script>
