<% if @theme %>
  <div class="forum_group_top">
    <div><p>Название</p></div>
    <div><p>Сообщений</p></div>
    <div><p>Просмотров</p></div>
    <div><p>Последний топик</p></div>
  </div>

  <div class="forum_group">
    <div class="forum_group_name">
      <%= link_to @theme.title, theme_path(@theme) %>
    </div>
    <% @theme.topics.each do |topic| %>
      <div class="forum_theme">
        <div class="forum_theme_part">
          <p><%= link_to topic.title, topic_path(topic) %></p>
        </div>
        <div class="forum_next"> </div>
        <div class="forum_theme_part forum_count">
          <p><%= topic.posts_count %></p>
        </div>
        <div class="forum_next"> </div>
        <div class="forum_theme_part forum_count">
          <p><%= topic.views_count %></p>
        </div>
        <div class="forum_next"> </div>
        <div class="forum_theme_part">
          <p class="forum_last_post_p"><%= "От пользователя #{topic.last_post["user"]["nick_name"]}" unless topic.last_post.nil? %><br><%= "#{russian_date(topic.last_post["created_at"].to_datetime)}" unless topic.last_post.nil? %></p>
        </div>
        <div class="forum_bottom_divide theme_bottom"></div>
        <div></div>
        <div class="forum_bottom_divide"></div>
        <div></div>
        <div class="forum_bottom_divide"></div>
        <div></div>
        <div class="forum_bottom_divide last_topic_bottom"></div>
        <div></div>
      </div>
    <% end %>
    <div class="create_new_theme">
      <%= link_to "Создать новый топик в теме #{@theme.title}", new_topic_path(theme_id: @theme.id) %>
    </div>
  </div>
<% else %>
  <div class="forum_group no_rights">
    <h3>Добрый день <%= current_user.nick_name %></h3>
    <p>У вас нет прав на просмотр данной темы!</p>
    <p>Что бы увидеть содержимое, необходимо <%= link_to "вступить", topic_path(14) %> в клан xD</p>
    <p>Если вы уже в клане, обратитесь к Главе</p>
  </div>
<% end %>

<% if current_user.superadmin? %>
  <div id="add_new_group">
    <%= link_to "Удалить данную тему", theme_path(@theme), method: :delete, data: {confirm: "Вы уверены?"} %>
  </div>
<% end %>
