<div class="forum_group">
  <div class="forum_group_name">
    <%= link_to @topic.title, topic_path(@topic) %>
  </div>
  <div class="forum_topic_content">
    <div class="forum_post_top">
      <p>Автор: <%= link_to @topic.user.nick_name, @topic.user.player_link %></p>
    </div>
    <div class="forum_post_top forum_post_title_top">
      <p>ТЕМА: <%= @topic.title %></p>
    </div>
    <div class="forum_user_image">
      <%= image_tag(@topic.user.profile_photo) %>
    </div>
    <div>
      <% if current_user.id == @topic.user_id || current_user.admin? || current_user.superadmin? %>
      <div class="forum_topic_changes">
        <div>
          <%= image_tag("delete_icon.png") %>
          <%= link_to "Удалить топик", topic_path, method: :delete, data: {confirm: "Вы уверены?"} %>
        </div>
        <div>
          <%= image_tag("update_icon.ico") %>
          <%= link_to "Редактировать", edit_topic_path(@topic, theme_id: @topic.theme_id) %>
        </div>
      </div>
    <% end %>
      <%= raw @topic.content %>
    </div>
  </div>
</div>
