<div class="news_content">
  <h1>Профиль <%= opened_user_profile(params[:id]).nick_name %></h1>
  <div id="user_profile">
    <% if !opened_user_profile(params[:id]).profile_photo.url.nil? %>
      <div class="show_profile_photo"><%= image_tag(opened_user_profile(params[:id]).profile_photo) %></div>
    <% else %>
      <div class="show_profile_photo"><%= image_tag("default_avatar") %></div>
    <% end %>
    <div><p><b>Имя:</b>  <%= opened_user_profile(params[:id]).full_name %></p></div>
    <div><p><b>Игровой персонаж:</b>  <%= link_to opened_user_profile(params[:id]).nick_name, opened_user_profile(params[:id]).player_link %></p></div>
    <div><p><b>Права на сайте:</b>  <%= opened_user_profile(params[:id]).user_role %></p></div>
    <div><p><b>Почта:</b>  <%= opened_user_profile(params[:id]).email %></p></div>
    <div><p><b>Пол:</b>  <%= opened_user_profile(params[:id]).gender %></p></div>
    <div><p><b>День рождения:</b>  <%= opened_user_profile(params[:id]).user_birthday if opened_user_profile(params[:id]).birthday %></p></div>
  </div>
  <div class="submit_button">
    <button><%= link_to "Редактировать", edit_user_path %></button>
  </div>
  <div class='separator'></div>
</div>
