<div class="news_content">
  <h1>Профиль <%= @user.nick_name %></h1>
  <div id="user_profile">
    <% if @user.profile_photo.url.nil? %>
      <div class="show_profile_photo"><%= image_tag("default_avatar") %></div>
    <% else %>
      <div class="show_profile_photo"><%= image_tag(@user.profile_photo) %></div>
    <% end %>
    <div><p><b>Имя:</b>  <%= @user.full_name %></p></div>
    <div><p><b>Игровой персонаж:</b>  <%= link_to @user.nick_name, @user.player_link %></p></div>
    <div><p><b>Права на сайте:</b>  <%= @user.user_role %></p></div>
    <div><p><b>Почта:</b>  <%= @user.email %></p></div>
    <div><p><b>Пол:</b>  <%= @user.gender %></p></div>
    <div><p><b>День рождения:</b>  <%= russian_date(@user.birthday) if @user.birthday %></p></div>
  </div>
  <div class="submit_button">
    <button><%= link_to "Редактировать", edit_user_path(@user) %></button>
  </div>
  <div class='separator'></div>
</div>
