<!DOCTYPE html>
<html>
  <head>
    <title>Forgotten</title>
    <%= csrf_meta_tags %>
    <script
      src="https://code.jquery.com/jquery-3.2.1.js"
      integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
      crossorigin="anonymous">
    </script>
    <meta name="viewport" content="width=device-width" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if !flash.empty? %>
      <div id="flash">
        <% flash.each do |key, value| %>
          <div class="<%= key %>"><%= value %><button class="close">×</button></div>
        <% end %>
      </div>
    <% end %>
    <div class='full_page'>
      <div id='left_menu' class='menu'>

        <div class="menu_top"></div>
        <div class="menu_center">
          <% if logged_in? %>
            <h2>Привет <%= current_user.nick_name %> </h2>
            <ul>
              <li id='menu_profile'><%= link_to "Профиль", user_path(current_user) %></li>
              <% if current_user.journalist? || current_user.admin? || current_user.superadmin? %>
                <li id='menu_add_news'><%= link_to "Добавить новость", new_listing_path %></li>
              <% end %>
              <li><%= link_to "Выйти", log_out_path, method: :delete %></li>
            </ul>
          <% else %>
            <h2> Регистрация или Вход</h2>
            <%= form_for(:session, :url => url_for(:controller => "sessions", :action => "create")) do |f| %>
              <div><%= f.text_field :nick_name, {placeholder: "Введите игровой логин"} %></div>
              <div><%= f.password_field :password, {placeholder: "Введите пароль"}%></div>
              <div id="sign_in"><%= f.submit "Войти" %></div>
            <% end %>
            <div id="sign_up"><%= button_to "Регистрация", new_user_path, :method => "get" %></div>
            <div id="user_forgot_password"><%= link_to "Забыли пароль?", reset_password_path %></div>
          <% end %>
        </div>
        <div class='menu_footer'></div>

        <div class="menu_top"></div>
        <div class="menu_center">
          <h2>Меню</h2>
          <ul>
            <li id='menu_main'><%= link_to 'Главная', { controller: :listings, action: :index }, class: 'active_menu' %></li>
            <li id='menu_clan_members'><%= link_to "Состав", clan_members_path %></li>
            <li><%= link_to "Форум", forum_path %></li>
          </ul>
        </div>
        <div class='menu_footer'></div>

        <div class="menu_top"></div>
        <div class="menu_center">
          <h2>О клане</h2>
          <ul>
            <li id='menu_joining'><%= link_to "Вступление", joining_path %></li>
            <li id='menu_charter'><%= link_to "Устав", charter_path %></li>
            <li id='menu_legend'><%= link_to "Легенда", legend_path %></li>
          </ul>
        </div>
        <div class='menu_footer'></div>

        <div id='small_screen'>
          <div class="menu_top"></div>
          <div class="menu_center">
            <h2>Ресурсы клана</h2>
            <ul>
              <li><a href="#">Примерочная</a></li>
              <li><a href="#">Таймер заклятий</a></li>
              <li id='menu_experience_calc'><%= link_to "Калькулятор опыта", experience_calc_path %></li>
            </ul>
          </div>
          <div class='menu_footer'></div>
        </div>

      </div>
      <div id='news'>
        <%= yield %>
        <div id='newsFooter'>

        </div>
      </div>
      <div id='right_menu' class='menu'>
        <div class="menu_top"></div>
        <div class="menu_center">
          <h2>Ресурсы клана</h2>
          <ul>
            <li><a href="#">Примерочная</a></li>
            <li><a href="#">Таймер заклятий</a></li>
            <li id='menu_experience_calc'><%= link_to "Калькулятор опыта", experience_calc_path %></li>
          </ul>
        </div>
        <div class='menu_footer'></div>
      </div>
      <a id="apeha_counter" href="http://www.apeha.ru"><img width="88" height="31" border="0" src="http://kovcheg.apeha.ru/interface/counter.fpl/152"></a>
      <a id="mail_counter" href="https://top.mail.ru/jump?from=2611592">
        <img src="//top-fwz1.mail.ru/counter?id=2611592;t=479;l=1" style="border:0;" height="31" width="88" alt="Рейтинг@Mail.ru" />
      </a>
    </div>

    <script>
      $(document).ready(function(){
        var all_li = $("li");
        if(window.location.href.indexOf("joining") > -1) {
          all_li.each(function() {
            $(this).children().removeClass('active_menu');
          });
          $('#menu_joining').children().addClass('active_menu');
        } else if (window.location.href.indexOf("charter") > -1) {
          all_li.each(function() {
            $(this).children().removeClass('active_menu');
          });
          $('#menu_charter').children().addClass('active_menu');
        } else if (window.location.href.indexOf("legend") > -1) {
          all_li.each(function() {
            $(this).children().removeClass('active_menu');
          });
          $('#menu_legend').children().addClass('active_menu');
        } else if (window.location.href.indexOf("users") > -1) {
          all_li.each(function() {
            $(this).children().removeClass('active_menu');
          });
          $('#menu_profile').children().addClass('active_menu');
        } else if (window.location.href.indexOf("listings/new") > -1) {
          all_li.each(function() {
            $(this).children().removeClass('active_menu');
          });
          $('#menu_add_news').children().addClass('active_menu');
        } else if (window.location.href.indexOf("clan_members") > -1) {
          all_li.each(function() {
            $(this).children().removeClass('active_menu');
          });
          $('#menu_clan_members').children().addClass('active_menu');
        } else if (window.location.href.indexOf("experience_calc") > -1) {
          all_li.each(function() {
            $(this).children().removeClass('active_menu');
          });
          $('#menu_experience_calc').children().addClass('active_menu');
        } else if (window.location.pathname == "/") {
          all_li.each(function() {
            $(this).children().removeClass('active_menu');
          });
          $('#menu_main').children().addClass('active_menu');
        } else {
          all_li.each(function() {
            $(this).children().removeClass('active_menu');
          });
        }
      })

      var _tmr = window._tmr || (window._tmr = []);
      _tmr.push({id: "2611592", type: "pageView", start: (new Date()).getTime()});
      (function (d, w, id) {
      if (d.getElementById(id)) return;
      var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true; ts.id = id;
      ts.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//top-fwz1.mail.ru/js/code.js";
      var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);};
      if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
      })(document, window, "topmailru-code");

    </script>

  </body>
</html>
