<!DOCTYPE html>
<html>
  <head>
    <title>Forum Forgotten</title>
    <%= csrf_meta_tags %>
    <script
      src="https://code.jquery.com/jquery-3.2.1.js"
      integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
      crossorigin="anonymous">
    </script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="forum_full_page">
      <div class="forum_header">
        <div class="forum_header_top">
        </div>
        <div class="forum_header_container">
          <%= link_to image_tag('forum_logo'), root_path %>
        </div>
      </div>
      <div class="forum_name">
        <div id="forum_text_name">
          Форум Клана Забытые Богом
        </div>
        <div class="main_forum_container">
          <button class="forum_location">Форум</button> <div class="next"> | </div>
          <button class="forum_location">Для всех</button> <div class="next"> | </div>
          <button class="forum_location">Отдел кадров</button> <div class="next"> | </div>
          <button class="forum_location">Вступление</button>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
