<!DOCTYPE html>
<html>
  <head>
    <title>Forum Forgotten</title>
    <%= csrf_meta_tags %>
    <script
      src="https://code.jquery.com/jquery-3.2.1.js"
      integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
      crossorigin="anonymous">
    </script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if !flash.empty? %>
      <div id="flash">
        <% flash.each do |key, value| %>
          <div class="<%= key %>"><%= value %><button class="close">×</button></div>
        <% end %>
      </div>
    <% end %>
    <div class="forum_full_page">
      <div class="forum_header">
        <div class="forum_header_top">
        </div>
        <div class="forum_header_container">
          <%= link_to image_tag('forum_logo'), root_path %>
        </div>
      </div>
      <div class="forum_name">
        <div id="forum_text_name">
          Форум Клана Забытые Богом
        </div>
        <div class="main_forum_container">
          <%= link_to "Форум", forum_path %> <div class="next"> </div>
          <%= link_to "Для всех", theme_path(1) %> <div class="next"> </div>
          <%= link_to "Отдел кадров", topic_path(1) %> <div class="next"> </div>
          <%= link_to "Вступление", post_path(1) %>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
